<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-todolist</title>
    <!-- link css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- script vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <div id="app">
        <div>
            <img src="img/Logo.png" alt="logo.png">
            <h1>Boolean TodoList</h1>
        </div>
        <!-- Input e pulsante Aggiungi -->
        <div>
          <input v-model="newTodoText" type="text" placeholder="Inserisci un nuovo todo">
          <button @click="addTodo">Aggiungi</button>
        </div>
      
        <!-- Lista dei todo -->
        <ul>
          <li v-for="(todo, index) in todoList" :key="todo.text" :class="{ 'done': todo.done }" @click="toggleTodoDone(index)">
            {{ todo.text }}
            <button id="bottonX" @click="removeTodo(index)">x</button>
          </li>
        </ul>
      </div>



    <script src="js/script.js"></script>
</body>
</html>